<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-background">
  <ion-grid>
    <ion-row>
      
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="txt">Gestión de Clases</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" class="green-button">
              <ion-icon name="calendar-outline"></ion-icon>
             Calendario
            </ion-button>
            <ion-button expand="block" class="green-button" [routerLink]="['/cursos']" >
              <ion-icon slot="start" name="people-outline" ></ion-icon>
              Ver Cursos
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Tarjeta de Gestión de Clases -->
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="txt">Gestión de Clases</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="block" class="danger-button" >
              <ion-icon slot="start" name="book-outline"></ion-icon>
              Ver Notas
            </ion-button>
            <ion-button expand="block" class="danger-button" >
              <ion-icon slot="start" name="book-outline"></ion-icon>
              Ver Asistencias
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
