
.content-background {
  --background: white;
}

.green-button {
  --background: green;
  --background-activated: darkgreen;
  --background-focused: lightgreen;
  --background-hover: lightgreen;
  --color: white;
}